    /* Global setting */
    .container {
        position: relative;
        padding-left: 2%;
        color: white;
    }

    ol {
        margin: 2px;
        margin-left: 20px;
        border: 2px;
        padding: 0px;
    }

    ol h3 {
        margin-top: 0;
    }

    .item-bg {
        background-color: grey;
        background-position: -50px -50px;
        border-radius: 12px;
        width: 30%;
        margin: 15px;
    }
/* --------------- */
/* Level 1 Line */
/* --------------- */

/* PolyU redline 2022-2026 (Level 1) */
    .polyu-red-line {
        position: absolute;
        left: 40px;
        top: 50px;
        bottom: 0px;
        width: 2px;
        background-color: red;
        z-index: 20;
    }
  
    .tongji-blue-line {
        position: absolute;
        left: 40px;
        top: 0px;
        bottom: 0;
        width: 2px;
        background-color: blue;
        z-index: 20;
    }
  

/* --------------- */
/* Level 2 Line */
/* --------------- */
    /* General activity timeline (Level 2) */
    .organizer{
        font-style: italic;
        font-size:1em;
    }
    .event-title{
        font-size:1.25em;

    }

    .award{
        color: rgb(133, 0, 0)
    }
    .company_logo{
        width: 50%;
    }
    .timeline-item {  
        position: relative;
        padding-left: 20px;
    }
    .timeline-item .line{
        position: absolute;
        left: -6%;
        top: 0;
        width: 2px;
        height: 3em;
        background-color: grey;
    }
    .timeline-item .activity{
        background-color: #da70d6;
    }

    .timeline-item .assignment{
        background-color: #ffff00;
    }

    .timeline-itme .project{
        background-color: #00ff7f;
    }

    .timeline-item .competition{
        background-color: #00bfff;
    }

    
/* Events */
/* Year 1 */
    .timeline-item .merit{
        color: orange;
    }
    
    .timeline-item .hktechathon2023 {
        height: 3em;
        /* 字体高度 */
        background-color: rgba(152, 152, 152, 0.43);
    }
    /* Year 2 */

    .silver{
        color:#FFD700;

    }

/* --------------- */
/* Logos */
/* --------------- */
    /* logo */
    .polyu-logo {
        width: 20%
    }
    .comp{
        width:15%
    }
    .design{
        width:10%
    }
